/*!
    @import /amethyst_input/src/bindings.rs#Bindings, StringBindings
    Bindings<StringBindings>
*/

(
    axes: {
        "l_x": Emulated(
            pos: Key(D),
            neg: Key(A),
        ),
        "l_y": Emulated(
            pos: Key(W),
            neg: Key(S),
        ),
        "r_x": Emulated(
            pos: Key(Right),
            neg: Key(Left),
        ),
        "r_y": Emulated(
            pos: Key(Up),
            neg: Key(Down),
        ),
    },
    actions: {},
)
