(
  texture_width: 104,
  texture_height: 2028,
  sprites: [
    //idle animation
    ( //0
        x: 1,
        y: 1171,
        width: 50,
        height: 37
    ),
    ( //1
        x: 53,
        y: 1171,
        width: 50,
        height: 37,
    ),
    ( //2
        x: 1,
        y: 1210,
        width: 50,
        height: 37,
    ),
    ( //3
        x: 53,
        y: 1210,
        width: 50,
        height: 37,
    ),
    //run animation
    ( //4
        x: 53,
        y: 1522,
        width: 50,
        height: 37,
    ),
    ( //5
        x: 1,
        y: 1561,
        width: 50,
        height: 37,
    ),
    ( //6
        x: 53,
        y: 1561,
        width: 50,
        height: 37,
    ),
    ( //7
        x: 1,
        y: 1600,
        width: 50,
        height: 37,
    ),
    ( //8
        x: 53,
        y: 1600,
        width: 50,
        height: 37,
    ),
    ( //9
        x: 1,
        y: 1639,
        width: 50,
        height: 37,
    ),
    //jump animation
    ( //10
        x: 53,
        y: 1366,
        width: 50,
        height: 37,
    ),
    ( //11
        x: 1,
        y: 1405,
        width: 50,
        height: 37,
    ),
    ( //12
        x: 53,
        y: 1405,
        width: 50,
        height: 37,
    ),
    ( //13
        x: 1,
        y: 1444,
        width: 50,
        height: 37,
    ),
    //attack 1 animation
    ( //14
        x: 53,
        y: 235,
        width: 50,
        height: 37,
    ),
    ( //15
        x: 1,
        y: 274,
        width: 50,
        height: 37,
    ),
    ( //16
        x: 53,
        y: 274,
        width: 50,
        height: 37,
    ),
    ( //17
        x: 1,
        y: 313,
        width: 50,
        height: 37,
    ),
    ( //18
        x: 53,
        y: 313,
        width: 50,
        height: 37,
    ),
    //attack 2 animation
    ( //19
        x: 1,
        y: 352,
        width: 50,
        height: 37,
    ),
    ( //20
        x: 53,
        y: 352,
        width: 50,
        height: 37,
    ),
    ( //21
        x: 1,
        y: 391,
        width: 50,
        height: 37,
    ),
    ( //22
        x: 53,
        y: 391,
        width: 50,
        height: 37,
    ),
    ( //23
        x: 1,
        y: 430,
        width: 50,
        height: 37,
    ),
    ( //24
        x: 53,
        y: 430,
        width: 50,
        height: 37,
    ),
    //attack 3 animation
    ( //25
        x: 1,
        y: 469,
        width: 50,
        height: 37,
    ),
    ( //26
        x: 53,
        y: 469,
        width: 50,
        height: 37,
    ),
    ( //27
        x: 1,
        y: 508,
        width: 50,
        height: 37,
    ),
    ( //28
        x: 53,
        y: 508,
        width: 50,
        height: 37,
    ),
    ( //29
        x: 1,
        y: 547,
        width: 50,
        height: 37,
    ),
    ( //30
        x: 53,
        y: 547,
        width: 50,
        height: 37,
    ),
    //jump smrslt animation
    ( //31
        x: 53,
        y: 1678,
        width: 50,
        height: 37,
    ),
    ( //32
        x: 1,
        y: 1717,
        width: 50,
        height: 37,
    ),
    ( //33
        x: 53,
        y: 1717,
        width: 50,
        height: 37,
    ),
    ( //34
        x: 1,
        y: 1756,
        width: 50,
        height: 37,
    ),
  ],
)
